<style>
  .dz-error-message {
    display: none;  
  }
  .dz-success-mark {
    display: none;  
  }
  .dz-error-mark {
    display: none;  
  }
  .dz-image img {
    width: 135px !important;
  }
  .dz-preview {
    display: inline-block;
  }
  .dz-details {
    display: none;
  }
  .dz-progress {
    display: none;
  }
</style>
<script type="text/javascript">
//collection image dropzone
$(document).ready(function(){
  Dropzone.autoDiscover = false;
  $("#collection-image").dropzone({
    url: "<%= collection_update_collection_image_url(:collection_id => @collection.id, :protocol => 'https') %>",
    maxFilesize: 1,
    paramName: "image",
    previewsContainer: '.dropzone-previews',
    clickable: '.dropzone-previews',
    addRemoveLinks: true,
    success: function(file, response){
      if ( $('.dropzone-previews').find('.dz-preview').length === 2) {
        $('.dropzone-previews').find('.dz-preview:first').remove();
      }
      $('.dz-remove').click(function(){
        $.ajax({
         type: 'POST',
           data: { _method: 'DELETE' },
          url: '<%= collection_delete_image_url(collection_id: @collection.id, protocol: "https") %>',
          success: function(data){
            console.log(data.message);
          }
        });
      })
    },
    init: function(){
      <% unless @collection_image_src == "" %>
      var existingFiles = [];
      existingFiles.push({ id: "<%= @collection.id %>"});
      this.emit("addedfile", existingFiles[0]);
      this.emit("thumbnail", existingFiles[0], "<%= @collection_image_src %>");
      <% end %>
    }
		
  });	
	
  $('.dz-remove').click(function(){
    $.ajax({
      type: 'POST',
      data: { _method: 'DELETE' },
      url: '<%= collection_delete_image_url(collection_id: @collection.id, protocol: "https") %>',
      success: function(data){
        console.log(data.message);
      }
    });
  })
	
});
  
</script>

<script>
  $(document).ready(function(){
    $('.unassign_product').click(function(){
      var this_product_row = $(this).parents(".product_row");
      var product_id = $(this).data("product_id");
      var product_title = this_product_row.find('.product_title').text();
      $.ajax({
        url: "<%= collection_unassign_product_url(protocol: 'https', collection_id: @collection.id) %>",
        method: "POST",
        data: {
          product_id: product_id,
          _method: "DELETE"
        },
        success: function(){
          $('<option value="' + product_id + '">' + product_title + '</option>').appendTo('#add_products');
          this_product_row.remove();
        }
      })
    })
    
    /*var availableProducts = [
      <% @all_products.each do |product| %>
      '<%= product.title %>',
      <% end %>
    ];
    $("#add_products").autocomplete({
      source: availableProducts
    });*/
    $('.add_product_to_collection').click(function(e){
      e.preventDefault();
      var product_id = $('.select_product').val();
      $.ajax({
        url: '<%= collection_assign_product_url(collection_id: @collection.id, protocol: 'https') %>',
        method: 'POST',
        data: {
          product_id: product_id
        },
        success: function(product_info){
          var product_title = product_info.product_title;
          var product_image_src = product_info.product_image_src;
          var product_image_tag;
          if ((product_image_src != null) && (product_image_src != undefined) && (product_image_src != "")) {
            product_image_tag = '<img src="' + product_image_src + '">'
          } else {
            product_image_tag = ''
          }
          $('.select_product').find('option[value="' + product_id + '"]').remove();
          $('<div class="col-md-12 product_row">' +
              '<div class="col-md-2 col-lg-2 product_title">' + product_title + '</div>' +
              '<div class="col-md-2 col-lg-2 text-center">' + product_image_tag +
              '</div>' +
              '<div class="col-md-1 col-lg-1 text-center unassign_product" data-product_id="' + product_id + '"><strong>X</strong></div>' +
            '</div>').appendTo('.products_container');
          $('.unassign_product:last').click(function(){
            var this_product_row = $(this).parents(".product_row");
            var product_id = $(this).data("product_id");
            $.ajax({
              url: "<%= collection_unassign_product_url(protocol: 'https', collection_id: @collection.id) %>",
              method: "POST",
              data: {
                product_id: product_id,
                _method: "DELETE"
              },
              success: function(){
                $('<option value="' + product_id + '">' + product_title + '</option>').appendTo('#add_products');
                this_product_row.remove();
              }
            })
          })
        }
      })
    });
    
    $('.assign_hotspot_image').click(function(e){
      e.preventDefault();
      var interface_row = $(this).parents('.interface_row');
      clicked_select_image = interface_row.find('.select_hotspot_image');
      var hotspot_image_id = clicked_select_image.val();
      var interface_id = interface_row.data('interface_id');
      $.ajax({
        url: "<%= collection_assign_hotspot_image_url(protocol: 'https', collection_id: @collection.id) %>",
        method: "POST",
        data: {
          interface_id: interface_id,
          hotspot_image_id: hotspot_image_id,
        },
        success: function(){
          alert("success")
        },
        error: function(e){
          console.log(e);
          alert(e.responseJSON.message);
          clicked_select_image.val("0")
        }
      })
    });
    
    var select_image;
    <% @interfaces_and_hotspot_images.each do |interface_and_hotspot_image| %>
    select_image = $('.interface_row[data-interface_id="' + <%= interface_and_hotspot_image.interface_id %> + '"]').find('.select_hotspot_image');
    select_image.val('<%= interface_and_hotspot_image.hotspot_image_id.nil? ? "0" : interface_and_hotspot_image.hotspot_image_id  %>')
    <% end %>
  });
</script>
<div class="container">
  <%= form_tag collection_path, method: "patch", :html => { :controller => "collections", :action => "update", :id => @collection.id } do %>

  <div class="row">
    <div class="col-md-2">
      <%= submit_tag "Back to all collections", :class => "btn btn-info" %>
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-8 form-group">
      <%= label_tag 'collection[title]', "Collection title:" %>
      <%= text_field_tag :title, @collection.title, class: "form-control" %>  
    </div>
    
    <div class="col-md-4 images_container pull-right">
      <h2>Featured Image</h2>
      <div class="dropzone-previews dropzone"> 
        <div class="dz-default dz-message"><span>Drop files here to upload</span>
        </div>
      </div>  
    </div>
    
    <div class="col-md-8 form-group">
      <%= label_tag 'collection[body_html]', "Collection description:" %>
      <%= text_area_tag :body_html, @collection.body_html, class: "tinymce form-control" %>
      <script> 
      //<![CDATA[
        (function() {
          if (typeof tinyMCE != 'undefined') {
            tinyMCE.init({
              selector: "textarea.tinymce",
              statusbar: false,
              menubar: false,
              resize: false,
              setup: function (editor) {
                editor.on('change', function (e) {  
                  enable_save();
                });
              },
              theme: "modern",
              fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
              font_formats: "Andale Mono=andale mono,times;"+
              "Arial=arial,helvetica,sans-serif;"+
              "Arial Black=arial black,avant garde;"+
              "Book Antiqua=book antiqua,palatino;"+
              "Comic Sans MS=comic sans ms,sans-serif;"+
              "Courier New=courier new,courier;"+
              "Georgia=georgia,palatino;"+
              "Helvetica=helvetica;"+
              "Impact=impact,chicago;"+
              "Symbol=symbol;"+
              "Tahoma=tahoma,arial,helvetica,sans-serif;"+
              "Terminal=terminal,monaco;"+
              "Times New Roman=times new roman,times;"+
              "Trebuchet MS=trebuchet ms,geneva;"+
              "Verdana=verdana,geneva;"+
              "Webdings=webdings;"+
              "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
              toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
              plugins: "textcolor"
            });
          } else {
            setTimeout(arguments.callee, 50);
          }
        })();
      //]]>
      </script>      
    </div>
 
  </div>
  
  <div class="products_container row">
    <div class="col-md-12">
      <div class="col-md-2 col-lg-2"><strong>Product Title</strong></div>
      <div class="col-md-2 col-lg-2 text-center"><strong>Image</strong></div>
      <div class="col-md-1 col-lg-1 text-center"><strong>Unassign product from collection</strong></div>
    </div>
    <div class="col-md-3">
      <label>Add products: </label>
      <select class="select_product form-control" id="add_products">
        <option value=0>-Select product-</option>
        <% @all_products.each do |product| %>
          <% unless @collection_products.include? product %>
          <option value="<%= product.id %>"><%= product.title %></option>
          <% end %>
        <% end %>
      </select>
    </div>
    <div class="col-md-2">
      <br>
      <button class="add_product_to_collection btn btn-primary">
        Add Product
      </button>
    </div>
    <% @collection_products.each do |product| %>
      <div class="col-md-12 product_row">
        <div class="col-md-2 col-lg-2 product_title"><%= product.title %></div>
        <div class="col-md-2 col-lg-2 text-center">
          <%= img_tag product.image.src unless product.image.nil? %>
        </div>
        <div class="col-md-1 col-lg-1 text-center unassign_product" data-product_id="<%= product.id %>"><strong>X</strong></div>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <h3>Interfaces</h3>
    <% @interfaces.each do |interface| %>
      <div class="col-md-12 interface_row" data-interface_id="<%= interface.id %>">
        <div class="col-md-2">
          <%= interface.title %>  
        </div>
        <div class="col-md-4">
          <select class="form-control select_hotspot_image">
            <option value="0">
              -Select Hotspot Image-
            </option>
            <% @all_hotspot_images.each do |hotspot_image| %>
            <option value="<%= hotspot_image.id %>">
              <%= hotspot_image.title %>
            </option>
            <% end %>
          </select>
        </div>
        
        <div class="col-md-4">
          <button class="assign_hotspot_image btn btn-info">
            Assign Hotspot Image
          </button>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= submit_tag "Save collection information", :class => "btn btn-success" %>
    </div>
  </div>
  
  <% end %>
</div>

<form id="collection-image" action="" method="post" name="collection-image-dropzone">
  <input id="image" style="display:none;" name="image" type="file">
</form>



