<style>
  .dz-error-message {
    display: none;  
  }
  .dz-success-mark {
    display: none;  
  }
  .dz-error-mark {
    display: none;  
  }
  .dz-image img {
    width: 135px !important;
  }
  .dz-preview {
    display: inline-block;
  }
  .dz-details {
    display: none;
  }
  .dz-progress {
    display: none;
  }
</style>
<script type="text/javascript">
//collection image dropzone
$(document).ready(function(){
  Dropzone.autoDiscover = false;
  $("#collection-image").dropzone({
    url: "<%= collection_update_collection_image_url(:collection_id => @collection.id, :protocol => 'https') %>",
    maxFilesize: 1,
    paramName: "image",
    previewsContainer: '.dropzone-previews',
    clickable: '.dropzone-previews',
    addRemoveLinks: true,
    success: function(file, response){
      if ( $('.dropzone-previews').find('.dz-preview').length === 2) {
        $('.dropzone-previews').find('.dz-preview:first').remove();
      }
      $('.dz-remove').click(function(){
        $.ajax({
         type: 'POST',
           data: { _method: 'DELETE' },
          url: '<%= collection_delete_image_url(collection_id: @collection.id, protocol: "https") %>',
          success: function(data){
            console.log(data.message);
          }
        });
      })
    },
    init: function(){
      <% unless @collection_image_src == "" %>
      var existingFiles = [];
      existingFiles.push({ id: "<%= @collection.id %>"});
      this.emit("addedfile", existingFiles[0]);
      this.emit("thumbnail", existingFiles[0], "<%= @collection_image_src %>");
      <% end %>
    }
		
  });	
	
  $('.dz-remove').click(function(){
    $.ajax({
      type: 'POST',
      data: { _method: 'DELETE' },
      url: '<%= collection_delete_image_url(collection_id: @collection.id, protocol: "https") %>',
      success: function(data){
        console.log(data.message);
      }
    });
  })
	
});
  
</script>

<script>
  $(document).ready(function(){
    $('.unassign_product').click(function(){
      var this_product_row = $(this).parents(".product_row");
      var product_id = $(this).data("product_id");
      $.ajax({
        url: "<%= collection_unassign_product_url(protocol: 'https', collection_id: @collection.id) %>",
        method: "POST",
        data: {
          product_id: product_id,
          _method: "DELETE"
        },
        success: function(){
          this_product_row.remove();
        }
      })
    })
  })
</script>
<div class="container">
  <%= form_tag collection_path, method: "patch", :html => { :controller => "collections", :action => "update", :id => @collection.id } do %>

  <div class="row">
    <div class="col-md-2">
      <%= submit_tag "Back to all collections", :class => "btn btn-info" %>
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-8 form-group">
      <%= label_tag 'collection[title]', "Collection title:" %>
      <%= text_field_tag :title, @collection.title, class: "form-control" %>  
    </div>
    
    <div class="col-md-4 images_container pull-right">
      <h2>Featured Image</h2>
      <div class="dropzone-previews dropzone"> 
        <div class="dz-default dz-message"><span>Drop files here to upload</span>
        </div>
      </div>  
    </div>
    
    <div class="col-md-8 form-group">
      <%= label_tag 'collection[body_html]', "Collection description:" %>
      <%= text_area_tag :body_html, @collection.body_html, class: "tinymce form-control" %>
      <script> 
      //<![CDATA[
        (function() {
          if (typeof tinyMCE != 'undefined') {
            tinyMCE.init({
              selector: "textarea.tinymce",
              statusbar: false,
              menubar: false,
              resize: false,
              setup: function (editor) {
                editor.on('change', function (e) {  
                  enable_save();
                });
              },
              theme: "modern",
              fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
              font_formats: "Andale Mono=andale mono,times;"+
              "Arial=arial,helvetica,sans-serif;"+
              "Arial Black=arial black,avant garde;"+
              "Book Antiqua=book antiqua,palatino;"+
              "Comic Sans MS=comic sans ms,sans-serif;"+
              "Courier New=courier new,courier;"+
              "Georgia=georgia,palatino;"+
              "Helvetica=helvetica;"+
              "Impact=impact,chicago;"+
              "Symbol=symbol;"+
              "Tahoma=tahoma,arial,helvetica,sans-serif;"+
              "Terminal=terminal,monaco;"+
              "Times New Roman=times new roman,times;"+
              "Trebuchet MS=trebuchet ms,geneva;"+
              "Verdana=verdana,geneva;"+
              "Webdings=webdings;"+
              "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
              toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
              plugins: "textcolor"
            });
          } else {
            setTimeout(arguments.callee, 50);
          }
        })();
      //]]>
      </script>      
    </div>
 
  </div>
  
  <div class="products_container row">
    <div class="col-md-12">
      <div class="col-md-2 col-lg-2"><strong>Product Title</strong></div>
      <div class="col-md-2 col-lg-2 text-center"><strong>Image</strong></div>
      <div class="col-md-1 col-lg-1 text-center"><strong>Unassign product from collection</strong></div>
    </div>
    <% @collection_products.each do |product| %>
      <div class="col-md-12 product_row">
        <div class="col-md-2 col-lg-2"><%= product.title %></div>
        <div class="col-md-2 col-lg-2 text-center">
          <%= img_tag product.image.src unless product.image.nil? %>
        </div>
        <div class="col-md-1 col-lg-1 text-center unassign_product" data-product_id="<%= product.id %>"><strong>X</strong></div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= submit_tag "Save collection information", :class => "btn btn-success" %>
    </div>
  </div>
  
  <% end %>
</div>

<form id="collection-image" action="" method="post" name="collection-image-dropzone">
  <input id="image" style="display:none;" name="image" type="file">
</form>



